# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
backup/asset-manifest.json
backup/favicon.ico
backup/index.html
backup/logo192.png
backup/logo512.png
backup/manifest.json
backup/robots.txt
backup/static/css/main.5205b8f4.css
backup/static/css/main.5205b8f4.css.map
backup/static/js/787.0a6d3a9b.chunk.js
backup/static/js/787.0a6d3a9b.chunk.js.map
backup/static/js/main.5276f379.js
backup/static/js/main.5276f379.js.LICENSE.txt
backup/static/js/main.5276f379.js.map
backup/static/media/01.93eaff7456b6d5df1e9f.png
backup/static/media/02.f0e9b0d4f694953d9980.png
backup/static/media/03.223817a562309bc30f98.png
backup/static/media/04.469bc20d203a7a8943b5.png
backup/static/media/05.d9f3d1a157c35e016f23.png
backup/static/media/06.1b35099629bb32d932d4.png
backup/static/media/07.2df2b80096c3bad5acce.png
backup/static/media/08.36535ac4e9f92b6ab494.png
backup/static/media/check.92bff49891683ab7102d.png
backup/static/media/diseno.3dd504d3cec486391b70.png
backup/static/media/experiencias.04f373ec95be0e424f82.png

backup/static/media/loading.c9ba1a21778df1fb95ac0c49c614c0fa.svg
backup/static/media/ltd+-azul.26ca1416da637fb9c62a.png
backup/static/media/ltd+-blanco.4684d4e69d18dd1ec1fa.png
backup/static/media/ltd+-gris.453e2c5d47fa17b5509f.png
backup/static/media/ltd+-grismagnetic.3b7cac8f654ae1659de4.png
backup/static/media/ltd+-naranjaterra.f8737a367ae5684d0c07.png
backup/static/media/ltd+-negro.85072e51694531284529.png
backup/static/media/ltd+-rojo.56406d696a2d513beefb.png
backup/static/media/ltd-azul-1.af0e4edd25b4efbe2a4d.png
backup/static/media/ltd-azul.6abbe1bfb33204792c2d.png
backup/static/media/ltd-blanco.dea8106586ada01c92dd.png
backup/static/media/ltd-gris.20fcc252416995aa7917.png
backup/static/media/ltd-grismagnetic.af0e4edd25b4efbe2a4d.png
backup/static/media/ltd-naranjaterra.12620f54f760348bbd2c.png
backup/static/media/ltd-rojo.01aa5cb6c9e90df8c186.png
backup/static/media/proteccion.67cfce32e396be177890.png
backup/static/media/slider-mobile.715cb8f270f9067f9867.png
backup/static/media/slider.12948f074e50c190c9a8.png
backup/static/media/tecnologia.4969adfdaf3e04bdc028.png
backup/static/media/xl-4x2-blanca.b61c5f2e2c36d9ba5d4e.png
backup/static/media/xl-4x2-gris.0aea97d00006acfad506.png
backup/static/media/xls-4wb-naranjaterra.2abcc46c344fbbcb247e.png
backup/static/media/xls-4wd-azul.e049b32d64d3706fd572.png
backup/static/media/xls-4wd-blanca.ca873bea39057ee80433.png
backup/static/media/xls-4wd-gris.16f690e24fcc72687f7e.png
backup/static/media/xls-4wd-grismagnetic.3db538ed25c0341db61c.png
backup/static/media/xls-4wd-negro.370a3609ec1dd2256866.png
backup/static/media/xls-4wd-rojobari.dfa090d8e39fa590f972.png
backup/static/media/xlt-4x4-azul.a8b01b665bd48559a7d4.png
backup/static/media/xlt-4x4-blanco.7d9fd7ab2bcb58e2cd32.png
backup/static/media/xlt-4x4-gris.2cacd6d8a56c8b911397.png
backup/static/media/xlt-4x4-grismagnetic.39c94682be8f3f86f7ef.png
backup/static/media/xlt-4x4-naranjaterra.7b74e8af917777ea48bb.png
backup/static/media/xlt-4x4-negro.2eb913049df33ff8bfe8.png
backup/static/media/xlt-4x4-rojobari.9caa1d1aadfe6c3ddcde.png
